@import "./Base/body";
@import "./Sectores/header";
@import "./Sectores/nav";
@import "./Sectores/footer";
@import "./Ajustes/bootstrap";
@import "./Paginas/index";
@import "./Paginas/tesoro";
@import "./Paginas/contacto";
@import "./Paginas/curiosidad";
@import "./Paginas/criminal";
@import "./Paginas/parteSeria";

/* ============ Modificaciones genericas ============ */

#subtituloGenerico { /* Para alinear directamente el texto */
    text-align: center;
}

.miniTitulo { /* Solo por si no quiero usar un Hnumero */
    color: black;
    font-size: 22px;
}

/* ====== Ajustes de media (Para mobile first) ====== */

@mixin media($ancho) {
    @media only screen and (max-width: $ancho) {
        @content;
    }
}

@include media(768px){
    #laEjecucion__aplanadora {
        height: 25%;
    }

    #encuesta {
        font-size: 12px;
    }
    
    .galeria {
        flex: 1 1 auto;
        overflow-x: auto;
        padding: 0;

        div {
            width: fit-content;
    
            img {
                width: 100%;
            }
            
        }

    }

    #perfilDelGato{
        grid-template-columns: 0 115%;

        margin: 10vh 10vh 0vh 10vh;

        &__imgGato {
            display: none;
        }
        
        &__imgGatoMobile {
            visibility: visible;
    
            max-width: 75%;
            max-height: 75%;

            margin-bottom: 30px;
        }

        &__ulGato {
            display: flex;

            object-fit: cover;

            font-size: 80%;
        
            max-width: 90vh;
            max-height: 90%;

            justify-content: space-around;

            ul {
                flex-direction: column;
            }
        }

        img {
            object-fit: contain;
        }

    }

}

@include media(425px){
    header {

        a {
            position: static;
        }

        img {
            opacity: 0;
        }
    }

    #laEjecucion__aplanadora {
        width: 100%;
        left: 0;
    }

    .galeria {
        flex-direction: column;
        
        justify-items: center;

        div {
            iframe {
                max-width: 100%;
            }
        }

    }

    .miniTitulo {
        font-size: 16px;
    }

    .piePagina{
        span{
            font-size: 75%;
        }

        li{
            font-size: 75%;
        }
    }

    #perfilDelGato {
        grid-template-columns: 0 155%;

        &__ulGato {
            font-size: 70%;
            justify-items: center;
        }
    }
}