/* Clases e IDs exclusivas de la página principal */

.galeria{ /* Acá se ajusta como se verá el múltimedia de la página */
    display: flex;
    justify-content: space-around;
    
    border: 1px solid #555;
    padding: 10px;
    height: fit-content;

    div{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center; 
        padding:10px;
        width: 100vh;
    }
}

.advertenciaSitioWeb { /* Para hacer el aviso lo más obvio posible */
    -webkit-text-stroke: 1px white;

    position: fixed;
    right: 0;
    top: 0;

    font-size: 70%;
}

/* Quería añadirle un easter egg para quienes les guste examinar a fondo la página, ahora lo estás viendo. */
.separadorMisterioso {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 6px;
    width: 90%;
}